.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.projects-header h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

.projects-header p {
  color: #666;
}

.new-project-btn {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.projects-summary-row {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.summary-card {
  flex: 1;
  background: white;
  border-radius: 14px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.summary-icon.blue { background: #e0ecff; }
.summary-icon.red { background: #ffe3e3; }
.summary-icon.purple { background: #f0e7ff; }

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-card {
  background: white;
  border-radius: 16px;
  padding: 22px;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card h3 {
  margin: 0;
}

.tech {
  font-size: 12px;
  color: #666;
}

.project-stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.badge.critical {
  background: #ffe3e3;
  color: red;
}

.badge.warning {
  background: #fff4e0;
  color: orange;
}

.badge.safe {
  background: #e6f8ed;
  color: green;
}

.red-text { color: red; }
.green-text { color: green; }

.avatar {
  width: 35px;
  height: 35px;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
